{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Login</h5>
      </div>
      <div class="card-body">
        <form method="post" action="{{ url_for('users.login') }}">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input name="username" class="form-control" required placeholder="student">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input name="password" type="password" class="form-control" required placeholder="password123">
          </div>
          <button class="btn btn-primary w-100" type="submit">Вхід</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
